<h1>学習一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>学習タイトル</th>
    <th>内容</th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.studytitle %></td>
    <td><%= comment.content %></td>
    <td><%= comment.timecount %></td>
    <td><%= link_to 'データ確認', comment_path(comment.id) %></td>
    <td><%= link_to "データ編集", edit_comment_path(comment.id), data: { confirm: '編集していいですか？' } %></td>
    <td><%= link_to 'データ削除', comment_path(comment.id), method: :delete ,data: { confirm: '削除していいですか？' } %></td>
  </tr>
<% end %>
<%= link_to '新しく投稿する', new_comment_path %>
</table>